<!DOCTYPE html>
<html>
<head>
    <title>Packet Capture Results</title>
</head>
<body>
    <h1>Packet Capture</h1>
    <h1 id="result"></h1>

    <script>
        // Function to capture packets and display results
        function capturePackets() {
            
             fetch('/capture')
        .then(response => {
            if (!response.ok) {
                console.log(response)
                throw new Error('Network response was not OK');
            }
            return response.json();
        })
        .then(data => {
            console.log("data",data)
          
            document.getElementById("result").innerHTML = JSON.stringify(data);
            setTimeout(() => {
                    document.getElementById("result").innerHTML = ''; // Clear the element's contents
                }, 5000);
        })
        .catch(error => {
            console.log('Error:', error.message);
        })
        .finally(() => {
                // Call capturePackets() again after a delay of 1 second
                
                setTimeout(capturePackets, 2000);
                
                
            });
    
        }

        // Automatically capture packets when the page loads
        document.addEventListener("DOMContentLoaded", () => {
            capturePackets();
        });

        
    </script>
</body>
</html>
